
<div class="container">
  <div class="row">
    <% @orders.each do |order| %>
      <%= cl_image_tag("order.product.image",
      width: 400, height: 300, crop: :fill) %>
      <h1><%= order.product.title %></p>
      <p>Description: <%= order.product.description %></p>
      <p>Quantity: <%= order.quantity %></p>
      <p>Price : <%= order.product.price * order.quantity %> €</p>
      <%= link_to "Pay", pay_order_path(order), class: "btn-yours" %>
    <% end %>
  </div>
</div>

