<div class="banner">
  <div class="banner-content" >
    <h1>WELCOME</h1>
    <p>Tous vos produits pour votre beauté!<br><br></p>
    <a href="" class="btn-yours">Nos produits pour vous combler</a>
  </div>
</div>
<div class="container">
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Recherchez vos secrets"
    %>
  <% end %>
  <h2 class="text-center">Nos produits</h2>
  <div class="cards">
    <!-- Code your cards  here -->
    <% @products.each do |p| %>
    <%= link_to p do  %>
    <div class="card" >
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2);">
        <%= cl_image_tag p.image, height: 180, crop: :fill %>
        <!-- <span class="card-category">TEXAS</span> -->
        <div class="card-description">
          <%= p.title %><br><br>
          <%= p.category %>
        </div>
        <!-- <img class="avatar-large" src="images/actrice1.jpg">
        <a class="card-link" href="#"></a> -->
      </div>
      <div class="card-footer">
        <p>SEE PRODUCT</p>
      </div>
    </div>
    <% end %>
    <% end %>
    <!-- style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2);
    -->
  </div>
</div>
