<div class="banner">
  <div class="banner-content" >
    <h1>FRESH PRODUCTS FOR FRESH PEOPLE</h1>
    <p>Take care of your beauty.<br><br></p>
    <a href="" class="btn-yours">OUR PRODUCTS</a>

  </div>
</div>


<div class="container">

  <h2 class="text-center" style="padding: 50px 0px">Products</h2>
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Recherchez un produit"
    %>
  <% end %>
  <br><br><br><br>
  <div class="cards">
    <div class="row">
    <!-- Code your cards  here -->

    <% @products.each do |p| %>
    <div class="col-xs-12 col-sm-4">
    <%= link_to p do  %>

    <div class="card" >
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path p.image %>');">
      </div>
      <div class="card-footer">
        <p><%= p.title.capitalize %></p>
      </div>
    </div>
    <% end %>
    </div>

    <% end %>
    <!-- style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2);
    -->
    </div>
  </div>
</div>
