<div class="banner">
  <div class="banner-content" >
    <h1>FRESH PRODUCTS FOR FRESH PEOPLE</h1>
    <p><i>Let's pimp your beauty</i><br><br></p>
    <a href="" class="btn-yours">Our products</a>
  </div>
</div>
<div class="container">
  <h2 class="text-center">Our products</h2>
  <div class="cards">
    <!-- Code your cards  here -->
    <% @products.each do |p| %>
    <%= link_to p do  %>
    <div class="card" >
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2);">
        <%= cl_image_tag p.image, height: 220, width:300, crop: :fill %>
        <!-- <span class="card-category">TEXAS</span> -->
    <!--     <div class="card-description"> -->
     <!--      <%= p.category.upcase %><br><br>
          <%= p.title.capitalize %> -->
<!--         </div> -->
        <!-- <img class="avatar-large" src="images/actrice1.jpg">
        <a class="card-link" href="#"></a> -->
      </div>
      <div class="card-footer">
        <p> <%= p.title.capitalize %></p>

        <p>SEE PRODUCT</p>
      </div>
    </div>
    <% end %>
    <% end %>
    <!-- style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2);
    -->
  </div>
</div>


