<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 50px">
      <%= cl_image_tag @product.image, height: 300, width: 400, crop: :fill %>
    </div>
      <div class="col-xs-12 col-sm-8" class="titre" style="padding-left: 100px; padding-top: 50px">
        <h1><%= @product.title %></h1>
      <p><%= @product.description %></p>
      <p><%= @product.price %> €</p>
      <p>Category: <%= @product.category %></p>
      <%= simple_form_for [@order] do |f| %>
      <%= f.association :product, as: :hidden %>
      <%= f.input :quantity %>
      <%= f.submit "Add to card", class: "btn-yours", method: :post%>
      <% end %>
      <p><%= link_to "Back to all products", root_path %></p>

      </div>
  </div>
