<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" style="padding-top: 50px">
      <%= cl_image_tag @product.image, height: 300, width: 400, crop: :fill %>
    </div>
      <div class="col-xs-12 col-sm-4" class="titre" style="padding-left: 100px; padding-top: 50px">
        <h1><%= @product.title %></h1>
      <p><%= @product.description %></p>
      <p><%= @product.price %> €</p>
      <p>Category: <%= @product.category %></p>
      <p><%= link_to "Back to all products", root_path %></p>
      <br>
      <a href="" class="btn-primary btn-lg">Add to card</a>
      </div>
  </div>
</div>



